/* About me Styling */

.header {
	background-color: darkcyan;
	-webkit-background: linear-gradient(to bottom right, rgb(23, 173, 191), rgb(151, 71, 242));
	-o-background: linear-gradient(to bottom right, rgb(23, 173, 191), rgb(151, 71, 242));
	-moz-background: linear-gradient(to bottom right, rgb(23, 173, 191), rgb(151, 71, 242));
	background: linear-gradient(to bottom right, rgb(23, 173, 191), rgb(151, 71, 242));
	padding: 10px;
	text-align: center;
	color: white;
}

.main-container {
	background: url("/imgs/about-me-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.opaque-background {
	background: rgba(0, 0, 255, 0.2);
	padding: 20px;
}

#about-me h3, #about-me p {
	color: white;
	margin-left: 2%;
	margin-right: 2%;
}

#about-me h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

#about-me h3:first-child {
	margin-top: 10px;
}

#about-me p {
	margin-top: 0;
	margin-bottom: 5px;
	text-indent: 40px;
}